:root {
  --dark-accent: #2e2f42;

  --main-text-color: #434455;

  --primary-bg-color: #ffffff;

  --accent-color: #4d5ae5;

  --hover-focus-color: #404bbf;

  --light-accent: #f4f4fd;
}

/* ==========BODY========== */

body {
  font-family: Roboto, sans-serif;

  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
}

/* ----------HEADER---------- */

/* logo */

.link-logo {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--dark-accent);
}
.brend-logo {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--accent-color);
}
.link-footer {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--light-accent);
}

/* site-nav */

.list a {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--dark-accent);
}
.list a:hover,
.list a:focus {
  color: var(--hover-focus-color);
}

/* contacts */

.contacts a {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--main-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--hover-focus-color);
}

/*----------HERO----------*/

.hero {
  background-color: var(--dark-accent);
  color: var(--primary-bg-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

/* buttons */

.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}

.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.primary:hover,
.primary:focus {
  color: var(--primary-bg-color);
  background-color: var(--hover-focus-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--light-accent);
}
.secondary:hover,
.secondary:focus {
  color: var(--primary-bg-color);
  background-color: var(--hover-focus-color);
}

.cards {
  background-color: var(--light-accent);
}

/* текстові секції */
.title-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-accent);
  background-color: var(--primary-bg-color);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--primary-bg-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark-accent);
}
/*----------FOOTER----------*/

.footer-element {
  background-color: var(--dark-accent);
  color: var(--light-accent);
}
