:root {
  --primary-text-color: #2e2f42;

  --secondary-text-color: #434455;

  --primary-bg-color: #ffffff;

  --accent-color: #4d5ae5;

  --hover-focus-color: #404bbf;

  --custom-button: #f4f4fd;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* logo */

.logo-primary {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 2;

  color: var(--primary-text-color);
}
.logo-first {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 2;

  color: var(--accent-color);
}
.logo-secondary {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 2;

  color: var(--custom-button);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* site-nav */
.site-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;

  color: var(--primary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--hover-focus-color);
}

/* contacts */
.contacts a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;

  color: var(--primary-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--hover-focus-color);
}

/* 1 секція - Hero */
.hero {
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
}

/* buttons */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;

  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}
.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.primary:hover,
.primary:focus {
  color: var(--primary-bg-color);
  background-color: var(--hover-focus-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--custom-button);
}
.secondary:hover,
.secondary:focus {
  color: var(--primary-bg-color);
  background-color: var(--hover-focus-color);
}
.footer-element {
  background-color: var(--primary-text-color);
  color: var(--custom-button);
}

.cards {
  background-color: var(--custom-button);
}

/* текстові секції */
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
